extends ../layout

block content
  h1 Books
  p
    a.button(href='/books/new') Create New Book
  include search
  p
  table#table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}/update`)= book.title
          td= book.author
          td= book.genre
          td= book.year
  p
    if(currentPage === 1)
      a.button(href=`/books?page=${parseInt(currentPage)+1}`) Next
    else if(currentPage > 1 && books.length >= 10)
      a.button(href=`/books?page=${parseInt(currentPage)-1}`) Back
      a.button(style='margin-left:10px;', href=`/books?page=${parseInt(currentPage)+1}`) Next
    else if(books.length < 10 && currentPage > 1)
      a.button(href=`/books?page=${parseInt(currentPage)-1}`) Back
